<div class="row">
    <div class='col-md-6 offset-md-3 card card-body bg-light'>
        <form method='post' action='/people/add'>
            <input type='text' name='firstName' class='form-control' placeholder="First Name" />
            <br />
            <input type='text' name='lastName' class='form-control' placeholder="Last Name" />
            <br />
            <input type='text' name='age' class='form-control' placeholder="Age"/>
            <br />
            <button class='btn btn-primary btn-block'>Add</button>
        </form>
    </div>
</div>