<div class="row">
    <div class='col-md-6 offset-md-3 card card-body bg-light'>
        <form method='post' action='/people/update'>
            <input type='text' name='firstName' class='form-control' placeholder="First Name" value='<%= person.FirstName %>' />
            <br />
            <input type='text' name='lastName' class='form-control' placeholder="Last Name" value='<%= person.LastName %>' />
            <br />
            <input type='text' name='age' class='form-control' placeholder="Age" value='<%= person.Age %>' />
            <br />
            <input type='hidden' name='id' value='<%= person.Id %>' />
            <button class='btn btn-warning btn-block'>Update</button>
        </form>
    </div>
</div>